<!DOCTYPE html>
<html>
    <head>
        <title>All Users!!</title>
    </head>
    <body>
        <h1>All Registered Users</h1>
        <ol type="1">
        <% @user.each do |u|%>
            
                <li>
                    <a>
                        <%= u.name%><br><%= u.email%>
                    </a>
                </li>
                <br>        
            
            <% end %> 
        </ol>         
    </body>
</html>