<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>  

  
    <h1>Create Account</h1>
    <form action="/new_user" method="POST">

      <p><label for="name" id="name">Name:</label>
      <input type="text" name="name"></p><br>      

      <p><label for="email" id="email">Email:</label>
      <input type="text" name="email"></p><br>  
      
      <p><label for="password" id="password">Password:</label>
      <input type="password" name="password"></p><br>

      <input type="submit" value="Create Account">

    </form>
   </body>
</html>