<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <style>
    body {
      
      background-image: url('');
      background-repeate: no-repeate;
      background-size: cover;

    }
      .center {
        text-align: center;        
      }
      

      </style>
  </head>

      

    <body>
      <div class = "center">
        <h1><%="Welcome to your PinBin, "%>
        <p><%=current_user.name%><%="!"%></p></h1>
      </div>

      <p>Show me my <a href="/my_pins">pins</a>.</p>
      <p>Add a <a href="/new_pin">new pin</a>.</p>
      <p>See all <a href="/users">users</a>.</p>
    </body>
</html>