<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <style>
    body {
      <!--background-color: #b469ff;-->
      background-image: url('https://66.media.tumblr.com/19df10bbbb328c5735ce22ad1cd6b30d/tumblr_p1c3ih085F1qahbabo1_1280.jpg');
      

    }
      .center {
        text-align: center;        
      }
      </style>
  </head>
    <body>
    <div class = "center">
      <h1 style="color: #FF69B4"><%="Welcome to your PinBin, "%></h1>
      <p style="color: #b4ff69"><%=current_user.name%><%="!"%></p></div>
      <p >Show me my <a href="/my_pins">pins</a>.<br>
      Add a <a href="/new_pin">new pin</a>.<br>
      See all <a href="/users">users</a>.</p><br>
    </body>
</html>