<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  <h1><%="This is your PinBin, "%><%=@user.name%><%="!"%></h1>
  <h2>Would you like to view your collection?</h2>
  <h2>Or would you like to update?</h2>
  <a href="/collection">View Collection</a>
  </body>
</html>