<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  <h1><%="Welcome to your PinBin, "%><%=current_user.name%><%="!"%></h1>
  <h2>Show me my <a href="/my_pins">pins</a>.</h2>
  <h2>Add a <a href="/new_pin">new pin</a>.</h2>
  <h2>See all <a href="/users">users</a>.</h2>
  </body>
</html>