<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  <h1><%="Welcome to your PinBin, "%><%=@user.name%><%="!"%></h1>
  <h2>Would you like to view your <a href="/my_collection">Collection</a>,</h2>
  <h2>Or <a href="/users/<%=@user.id%>/edit">Edit</a> your profile?</h2>
  </body>
</html>