<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>PinBin</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
  </head>
  <style>
    body 
        .topnav {
      
      /* background-color: #398;
      overflow: scroll; */
    }

    .topnav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .topnav li {
      float: left;
    }

    .topnav a {
      display: block;
      padding: 8px;
      background-color: #dddddd;
    }
   

    

    .hero-image {
    
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://66.media.tumblr.com/19df10bbbb328c5735ce22ad1cd6b30d/tumblr_p1c3ih085F1qahbabo1_1280.jpg');
    
    
      height: 50% ;
    
    
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
  </style>
  


  <body>  
      <div class="topnav">
        <ul>
          <li><a class="active" href="/">Main</a></li>
          <li><a href='/users/:id'>My Page</a></li>
          <li><a href="/users">Other Collections<a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
          
      

    <div class="wrapper">

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2020 <strong>PinBIn</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->

    

  </body>
</html>

<!--<a href="/logout">Logout</a>-->