<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>

    <style>
     body
     .hero-image {
      
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('https://66.media.tumblr.com/19df10bbbb328c5735ce22ad1cd6b30d/tumblr_p1c3ih085F1qahbabo1_1280.jpg');
      
      height: 50% ;
    
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }

      .box_text {
        margin-top: 0px;
        margin-right: 500px;
        margin-left: 500px;
        margin-bottom: 100px;
        text-align: center;
      }
      .center {
        text-align: center;        
      }
    </style>
    
  </head>

  <body>
    <div class="hero-image">
      <div class="hero-text">
        <h1 class="box_text" style="color:white;">Welcome to the PinBin</h1>
        <h1 class="box_text" style="color:white;">A Place to Keep Track of All Your Pins</h1>
      </div>
    </div>
     
    <h3>Please <a href="/login">Login</a> or <a href="/new_user">Create Account</a></h3>
    
  </body>
</html>


