<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>

    <style>
      .center {
        text-align: center;        
      }
    </style>
    

  </head>

  <body>
    <div class = "center">
      <h1>Welcome to the PinBin</h1>
      <h2>A Place to Keep Track of All Your Pins</h2>
    </div>
     
    <h3>Please <a href="/login">Login</a> or <a href="/new_user">Create Account</a></h3>
    
   </body>
</html>


