<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

    <h1>Welcome to the PinBin</h1>
    <h2>A Place to Keep Track of All Your Pins</h2>
    <h3>Please <a href="/login">Login</a> or <a href="/new_user">Create Account</a></h3>
    
   </body>
</html>